body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
}

button.red-color,
.App.darkMode button.red-color {
  border-color: #ff0000;
}

button.green-color,
.App.darkMode button.green-color {
  border-color: #00ff00;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

ul,
li {
  list-style-type: decimal;
  text-align: left;
}

.App {
  padding: 0 30px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.characters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.characters-favorites {
  padding-right: 20px;
}

.favorite-character {
  width: 230px;
}

.character {
  width: 200px;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #75787d;
}

.character-title {
  margin: 5;
  display: flex;
  flex-direction: column;
}

.App.darkMode {
  background-color: #1c1c1c;
  color: #fefefe;
}

.App.darkMode button {
  background-color: #1ca1ef;
  color: #fefefe;
}

.App.darkMode .character {
  background-color: #16202c;
}
